{% extends './header.html'%}
{%block title%} Add Cars {%endblock%}
{% block header %} Add Cars  {% endblock %}
{% block content %}

    <!-- {% if submitted %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            A car is successfully added
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %} -->
    <div id="content-add-car">
              <div class="adding-car">
                  <form action="" method="POST">
                        {% csrf_token %}
                        {{ form }}
                      <button type="submit" class="btn btn-success btn-block submit">Submit</button>
                  </form>

              </div>
    </div>


{% endblock %}
