{% extends './header.html'%}
{%block title%} Dashboard {%endblock%}
{% block header %} Dashboard {% endblock %}
{% block content %}
<!-- {% if messages %}
{% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %} -->

    <!-- Camera Section-->
    <div id="content-index">
        <div class="left">
            <img src="{% url 'video_feed' %}"/>
            <a class="button-primary">PARK IN</a>
        </div>            
        <div class="right">
            <!-- Table Section-->
            <h3>Recent Activities</h3>
            <ul class="table">
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                <li>sample</li>
                
            </ul>
        </div>
    </div>
{% endblock %}
