{% extends './header.html'%}
{%block title%} View Cars {%endblock%}
{% block header %} View Cars {% endblock %}
{% block content %}

        <!-- {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} -->

    <div id="content-view-car">
         {% for car in car_list %}
        <div class="car-items">
              <h3 class="plate-num">Plate#: {{ car.plate_num }} </h3>
              <div class="">
                    <h5 class="car-man">{{ car.car_manufacturer }} - {{ car.car_model }}</h5>
                    <h5 class="car-col">Color: {{ car.car_color }}</h5>
                    <a href="{% url 'update_car' car.id %}" class="btn success">Update</a>
                    <a href="{% url 'delete_car' car.id %}" class="btn delete">Delete</a>

              </div>
        </div>

        {% endfor %}


    </div>
    <div class="container">
    </div>

{% endblock %}
